.titre_tav{
    text-align: center;
    color: #EFE7DA;
    font-family: "Pica SC";
    font-size: 45px;
    font-weight: 600;
    margin: 10vh;
}
.para_tav{
    text-align: center;
    color: #EFE7DA;
    margin-top: 0px;
    height: 20vh;
    font-family: "Lancelot";
    font-size: 1.7em;
    margin-bottom: 6vh;
    margin-left: 10vw;
    margin-right: 10vw;
}
/* card scenario */
.noConn{
    text-align: center;
    color: #EFE7DA;
    font-family: "Lancelot";
    font-size: 40px;
    font-weight: 400;
    margin-top: 5vh;
    margin-bottom: 16vh;
    margin-left: 10vw;
    margin-right: 10vw;
}
.card_scenar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 15%;
    margin: 20vh 30vh;
}
/* CSS pour les cards */
.img-container {
    position: relative;
    display: inline-block;
    margin: 30px; /* Ajout de la marge tout autour */
    transition: transform 0.3s ease-out; /* Ajout de transition */
    cursor: pointer; /* Curseur pointer au survol de l'image */
  }
  
  .img-scenar {
    max-width: 100%; /* Assurez-vous que l'image reste dans sa taille originale */
    display: block;
    box-shadow: 5px 5px 15px 5px rgba(239, 231, 218, 0.10); /* Ajout de l'ombre */
  }
  .img-container:hover {
    transform: scale(1.05); /* Effet d'agrandissement au survol */
  }
  .card-resume {
    position: absolute;
    top: 0; /* Positionne le texte au milieu verticalement */
    left: 0; /* Positionne le texte au milieu horizontalement */
    width: 100%; /* Recouvre toute la largeur de l'image */
    height: 100%; /* Recouvre toute la hauteur de l'image */
    opacity: 0; /* Initialement invisible */
    transition: opacity 0.3s ease-in-out; /* Ajoute une transition de fondu */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EFE7DA; /* Couleur du texte */
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir avec 0.5 d'opacité */
  }
  .img-container:hover .card-resume {
    opacity: 1; /* Lorsque l'utilisateur survole, rend le texte visible */
  }
  .nom-resume{
    font-size: 300%; /* Taille du texte */
  }
  .resume {
    margin: 0;
    font-size: 170%; /* Taille du texte */
    font-weight: bold; /* Poids de la police */
  }
.en_cours{
    height: 48vh;
    width:  22vw;
    justify-self: center;
    margin-bottom: 8vh;
    cursor: pointer;
    box-shadow: 5px 5px 15px 5px rgba(239, 231, 218, 0.10);
}
.connTav{
    text-decoration: none;
    color: #e55812;
}
.connTav:hover{
    color: rgba(149, 198, 35, 1);
}