footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e4749;
}
.p_footer {
  font-family: "Pica SC";
  margin-right: 1.5vh; /* 8px */
  color: #e55812;
  font-size: 18px;
}
