@font-face {
    font-family: "Pica SC";
    src: url("./assets/Fonts/IM_Fell_DW_Pica_SC/IMFellDWPicaSC-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lancelot";
    src: url("./assets/Fonts/Lancelot/Lancelot-Regular.ttf") format("truetype");
}
*{
    box-sizing: border-box;
    scroll-behavior : smooth;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #e55812;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #e55812;
    border-radius: 50px;
    border: 3px solid #002626;
  }
  /* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #e55812 #002626;
  }