@font-face {
    font-family: "Pica SC";
    src: url("./assets/Fonts/IM_Fell_DW_Pica_SC/IMFellDWPicaSC-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lancelot";
    src: url("./assets/Fonts/Lancelot/Lancelot-Regular.ttf") format("truetype");
}
*{
    box-sizing: border-box;
    scroll-behavior : smooth;
}
